.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('./login-bg.jpg') no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
}
.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 350px;
  height: 350px;
  z-index: 100;
}
.right .box {
  padding: 16px 40px;
  height: 100%;
  width: 100%;
  border-radius: 0;
}
.right .box .header {
  font-size: 25px;
  text-align: center;
  padding: 30px;
  color: #fff;
  font-weight: bolder;
}
.right .box .submit-btn {
  width: 100%;
}
.right .box .error-tip {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: red;
}
.right .box .tip {
  color: #ccc;
  text-align: center;
}
.right .box .tip span {
  margin-right: 8px;
}
.right .box .form-item {
  transition-delay: 5s;
  transition: 500ms;
  transform: translateX(100%);
}
.right .box .form-item:nth-child(2n) {
  transform: translateX(-100%);
}
.right .box .form-item.active {
  transform: translateX(0);
}
.right .ant-input-affix-wrapper {
  height: 42px;
  align-items: center;
}
.right .ant-input-affix-wrapper input {
  height: 100%;
}
.right .ant-btn {
  height: 42px;
  font-size: 14px;
}
